/* Contains the site-wide used font,
   header and sidebar blueprint */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*,
*:before,
*:after{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style:none;
}

a, a:visited{
    text-decoration:none;
    color:#000;
}

a:hover{
    font-style:italic;
}

.border{
    border:solid 2px #3e3e3e;
    border-radius: 20px;
}

/* -------------- 
    Header start  
   -------------- */
header{
    padding:0.5em 0 0 250px;
    box-shadow:4px 3px 8px 1px grey;
    font-size:20px;
    background-color:#d8efee;
    height:8.5em;
}

.nav__bar--top{
    display:flex;
    justify-content:space-around;
    height:6em;
    width:50%;
    margin:auto;
}

.nav__bar--middle{
    padding:0 1em;
}

.nav__bar--middle img{
    width:380px;
    height:auto;
    padding:1em 0 0.5em 0;
}

.nav__bar--bottom{
    display:flex;
    justify-content:center;
}

.nav__bar--bottom ul{
    display:flex;
    justify-content:space-around;
    width:600px;
    border-top:solid 1px;
    padding:0.5em 0 0 0;
}
/* ------------ 
    Header end  
   ------------ */


/* --------------- 
    Sidebar start
   --------------- */
.sidebar{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    position:fixed;
    height:100vh;
    width:250px;
    left:0;
    top:0;
    background-color:#efd8d9;
    text-align:center;
    border-radius:0 20px 20px 0;
    border-right:solid 2px #3e3e3e;
}

.sidebar div, footer{
    height:auto;
    width:auto;
}

.sidebar h2{
    padding:0 0 1em 0;
}

.sidebar__content li{
    font-size:20px;
    padding:1.2em 0;
}
/* -------------
    Sidebar end
   ------------- */